@page "/"

<PageTitle>Index</PageTitle>

<h1>Bienvenido a conocer mis habilidades como desarrollador .NET con Blazor!</h1>

Bienvenido a esta nueva aplicación Blazor.

<SurveyPrompt Title="¿Cómo te está funcionando Blazor?" />
